.light {
    background-color: #fff;
    text-align: center;
    transition: all 0.7s ease;
}

.night {
    background-color: #000;
    transition: all 0.7s ease;

    .span {
        margin-left: 4px;
        transition: all 0.7s ease;
    }
}

.span {
    background-color: aqua;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    margin-top: -15px;
    margin-left: -34px;
    transition: all 0.7s ease;
}

.btn {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: none;
    transition: all 0.7s ease;
}