@mixin Link {
    color: var(--color-link);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    &:hover {
        opacity: 0.8;
        color: #F35F2F;
    }
}