.hero__list{
    background-image: url(../img/Group7.png);
    background-repeat: no-repeat;
    max-width: 1280px;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    list-style: none;

    .hero__item{
        padding-top: 70px;
        padding-left: 20px;
    }
    
    .hero__heading{
        color: #FEFCF7;
        font-size: 40px;
        font-family: "Fraunces 9pt";
    }
    
    .hero__text{
        color: #FEFCF7;
        width: 400px;
        font-family: "Barlow";
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  /* Retina-specific stuff here */
}